@page "/lobby/{Client}/{Key}/{Token}"
@using System.Text.Json
@using System.Net.Http.Headers
@using FlintstonesEntities
@using Microsoft.Extensions.Caching.Memory
@using Newtonsoft.Json
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor IHttpContextAccessor

<div class="bg-blue-600">
    <div class="max-w-7xl mx-auto py-2 px-3 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between flex-wrap">
            <div class="w-0 flex-1 flex items-center">
                <span class="flex p-2 rounded-lg bg-blue-800">
                    <!-- Heroicon name: outline/speakerphone -->
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
                    </svg>
                </span>
                <p class="ml-3 font-medium text-white truncate">
                    <span class="md:hidden"> ATOMIC-LABS.CO </span>
                    <span class="hidden md:inline"> ATOMIC-LABS.CO </span>
                </p>
            </div>
            <div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
            </div>
            <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                <button type="button" class="-mr-1 flex p-2 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2">
                </button>
            </div>
        </div>
    </div>
</div>

@if (Authorize == true && LobbyEntity != null && LobbyEntity.Count > 0)
{
    <MudSimpleTable Style="overflow-x: auto;background-color:transparent;">
        <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in LobbyEntity)
            {
                <tr>
                    <td>@row.MarketName</td>
                    <td>@row.MarketSymbol</td>
                    <td><MudButton Class="rounded-0 mt-2" Variant="Variant.Filled" OnClick="(() => Navigate(row))" Color="Color.Primary">PLAY</MudButton></td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}
else if (Authorize == false)
{
    <br />
    <h1>Not Authorized...</h1>
}
else
{
    <br />
    <h1>Loading...</h1>
}




